download
fvcore
lib
matplotlib
numpy
opencv-python
pandas
Pillow
rfconv
scikit-learn
scikit-image
seaborn==0.11.2
tabulate
termcolor
tqdm
wandb
torch==1.6.0
torchmetrics
torchvision
ptflops==0.6.6
pytorch_lightning==1.3.4
